In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [23]:
dfo = pd.read_csv('../data/P87-S7-Advanced-Manipulation-Resources/flights2.csv.gz')
print(dfo.columns)
dfo.head()

Index(['YEAR', 'MONTH', 'DAY', 'DAY_OF_WEEK', 'AIRLINE', 'FLIGHT_NUMBER',
       'TAIL_NUMBER', 'ORIGIN_AIRPORT', 'DESTINATION_AIRPORT',
       'SCHEDULED_DEPARTURE', 'DEPARTURE_TIME', 'DEPARTURE_DELAY', 'TAXI_OUT',
       'WHEELS_OFF', 'SCHEDULED_TIME', 'ELAPSED_TIME', 'AIR_TIME', 'DISTANCE',
       'WHEELS_ON', 'TAXI_IN', 'SCHEDULED_ARRIVAL', 'ARRIVAL_TIME',
       'ARRIVAL_DELAY', 'DIVERTED', 'CANCELLED', 'CANCELLATION_REASON',
       'AIR_SYSTEM_DELAY', 'SECURITY_DELAY', 'AIRLINE_DELAY',
       'LATE_AIRCRAFT_DELAY', 'WEATHER_DELAY'],
      dtype='object')

,YEAR,MONTH,DAY,DAY_OF_WEEK,AIRLINE,FLIGHT_NUMBER,TAIL_NUMBER,ORIGIN_AIRPORT,DESTINATION_AIRPORT,SCHEDULED_DEPARTURE,...,ARRIVAL_TIME,ARRIVAL_DELAY,DIVERTED,CANCELLED,CANCELLATION_REASON,AIR_SYSTEM_DELAY,SECURITY_DELAY,AIRLINE_DELAY,LATE_AIRCRAFT_DELAY,WEATHER_DELAY
0,2015,1,1,4,AS,98,N407AS,ANC,SEA,5,...,408.0,-22.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
1,2015,1,1,4,AA,2336,N3KUAA,LAX,PBI,10,...,741.0,-9.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
2,2015,1,1,4,US,840,N171US,SFO,CLT,20,...,811.0,5.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
3,2015,1,1,4,AA,258,N3HYAA,LAX,MIA,20,...,756.0,-9.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
4,2015,1,1,4,AS,135,N527AS,SEA,ANC,25,...,259.0,-21.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN

In [24]:
dfo.isna().mean().sort_values(ascending=False) *100

CANCELLATION_REASON    97.450465
WEATHER_DELAY          79.583504
LATE_AIRCRAFT_DELAY    79.583504
AIRLINE_DELAY          79.583504
SECURITY_DELAY         79.583504
AIR_SYSTEM_DELAY       79.583504
AIR_TIME                2.756571
ARRIVAL_DELAY           2.756571
ELAPSED_TIME            2.756571
WHEELS_ON               2.611029
TAXI_IN                 2.611029
ARRIVAL_TIME            2.611029
TAXI_OUT                2.526981
WHEELS_OFF              2.526981
DEPARTURE_DELAY         2.480382
DEPARTURE_TIME          2.480382
TAIL_NUMBER             0.591955
SCHEDULED_DEPARTURE     0.000000
CANCELLED               0.000000
DAY                     0.000000
DAY_OF_WEEK             0.000000
AIRLINE                 0.000000
FLIGHT_NUMBER           0.000000
SCHEDULED_ARRIVAL       0.000000
DIVERTED                0.000000
ORIGIN_AIRPORT          0.000000
DISTANCE                0.000000
DESTINATION_AIRPORT     0.000000
MONTH                   0.000000
SCHEDULED_TIME          0.000000
YEAR                    0.000000
dtype: float64

In [45]:
df = dfo.copy()
df.set_index(['DESTINATION_AIRPORT','AIRLINE'], inplace=True)
df.drop(columns=["CANCELLATION_REASON", "WEATHER_DELAY", "LATE_AIRCRAFT_DELAY", "AIRLINE_DELAY", "SECURITY_DELAY",
"AIR_SYSTEM_DELAY" ], inplace=True)
df.sort_index()

                             YEAR  MONTH  DAY  DAY_OF_WEEK  FLIGHT_NUMBER  \
DESTINATION_AIRPORT AIRLINE
ABE                 DL       2015      1    4            7           2036
                    DL       2015      1    5            1           1411
                    DL       2015      1    6            2           1411
                    DL       2015      1    7            3           1411
                    DL       2015      1    8            4           1411
...                           ...    ...  ...          ...            ...
YUM                 OO       2015      1   30            5           2708
                    OO       2015      1   30            5           2687
                    OO       2015      1   31            6           2720
                    OO       2015      1   31            6           2702
                    OO       2015      1   31            6           2708

                            TAIL_NUMBER ORIGIN_AIRPORT  SCHEDULED_DEPARTURE  \
DESTINATION_AIRPORT AIRLINE
ABE                 DL           N979AT            ATL                 2101
                    DL           N989AT            ATL                 2034
                    DL           N979AT            ATL                 2034
                    DL           N958AT            ATL                 2034
                    DL           N994AT            ATL                 2034
...                                 ...            ...                  ...
YUM                 OO           N906SW            PHX                 1740
                    OO           N821AS            PHX                 2240
                    OO           N821AS            PHX                  945
                    OO           N468CA            PHX                 1100
                    OO           N906SW            PHX                 1740

                             DEPARTURE_TIME  DEPARTURE_DELAY  ...  \
DESTINATION_AIRPORT AIRLINE                                   ...
ABE                 DL               2101.0              0.0  ...
                    DL               2032.0             -2.0  ...
                    DL               2032.0             -2.0  ...
                    DL               2031.0             -3.0  ...
                    DL               2030.0             -4.0  ...
...                                     ...              ...  ...
YUM                 OO                  NaN              NaN  ...
                    OO               2259.0             19.0  ...
                    OO                941.0             -4.0  ...
                    OO               1059.0             -1.0  ...
                    OO               1738.0             -2.0  ...

                             ELAPSED_TIME  AIR_TIME  DISTANCE  WHEELS_ON  \
DESTINATION_AIRPORT AIRLINE
ABE                 DL              111.0      85.0       692     2248.0
                    DL              115.0      93.0       692     2222.0
                    DL              109.0      93.0       692     2217.0
                    DL              115.0      97.0       692     2222.0
                    DL              113.0      89.0       692     2219.0
...                                   ...       ...       ...        ...
YUM                 OO                NaN       NaN       160        NaN
                    OO               57.0      32.0       160     2353.0
                    OO               60.0      37.0       160     1038.0
                    OO               72.0      34.0       160     1206.0
                    OO               67.0      36.0       160     1843.0

                             TAXI_IN  SCHEDULED_ARRIVAL  ARRIVAL_TIME  \
DESTINATION_AIRPORT AIRLINE
ABE                 DL           4.0               2251        2252.0
                    DL           5.0               2225        2227.0
                    DL           4.0               2225        2221.0
                    DL           4.0               2225        2226.0
                    DL           4.0               2225        2223.0
...                              ...                ...           ...
YUM                 OO           NaN               1831           NaN
                    OO           3.0               2330        2356.0
                    OO           3.0               1046        1041.0
                    OO           5.0               1200        1211.0
                    OO           2.0               1831        1845.0

                             ARRIVAL_DELAY  DIVERTED  CANCELLED
DESTINATION_AIRPORT AIRLINE
ABE                 DL                 1.0         0          0
                    DL                 2.0         0          0
                    DL                -4.0         0          0
                    DL                 1.0         0          0
                    DL                -2.0         0          0
...                                    ...       ...        ...
YUM                 OO                 NaN         0          1
                    OO                26.0         0          0
                    OO                -5.0         0          0
                    OO                11.0         0          0
                    OO                14.0         0          0

[469968 rows x 23 columns]

In [33]:
dfo[(dfo.AIRLINE == "AA") & (dfo.DESTINATION_AIRPORT == 'LAX')]

,YEAR,MONTH,DAY,DAY_OF_WEEK,AIRLINE,FLIGHT_NUMBER,TAIL_NUMBER,ORIGIN_AIRPORT,DESTINATION_AIRPORT,SCHEDULED_DEPARTURE,...,ARRIVAL_TIME,ARRIVAL_DELAY,DIVERTED,CANCELLED,CANCELLATION_REASON,AIR_SYSTEM_DELAY,SECURITY_DELAY,AIRLINE_DELAY,LATE_AIRCRAFT_DELAY,WEATHER_DELAY
443,2015,1,1,4,AA,1361,N3KYAA,BNA,LAX,610,...,847.0,-8.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
808,2015,1,1,4,AA,2401,N858AA,DFW,LAX,655,...,NaN,NaN,0,1,B,NaN,NaN,NaN,NaN,NaN
867,2015,1,1,4,AA,9,N792AA,JFK,LAX,700,...,1026.0,6.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
871,2015,1,1,4,AA,201,N3LJAA,BOS,LAX,700,...,1045.0,10.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
880,2015,1,1,4,AA,1529,N5DHAA,MCO,LAX,700,...,926.0,-9.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
469773,2015,1,31,6,AA,298,N5ECAA,HNL,LAX,2204,...,519.0,-1.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
469834,2015,1,31,6,AA,2491,N3EVAA,DFW,LAX,2225,...,2329.0,-20.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
469865,2015,1,31,6,AA,246,N5DEAA,KOA,LAX,2236,...,512.0,-28.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
469897,2015,1,31,6,AA,14,N5FBAA,OGG,LAX,2300,...,533.0,-31.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
469915,2015,1,31,6,AA,286,N5DFAA,LIH,LAX,2314,...,555.0,-39.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN

In [49]:
df.loc[('LAX','AA')].head()

/var/folders/cp/2vg0mq953918v2_1xmh8chvr0000gn/T/ipykernel_8550/2565462724.py:1: PerformanceWarning: indexing past lexsort depth may impact performance.
  df.loc[('LAX','AA')].head()

                             YEAR  MONTH  DAY  DAY_OF_WEEK  FLIGHT_NUMBER  \
DESTINATION_AIRPORT AIRLINE
LAX                 AA       2015      1    1            4           1361
                    AA       2015      1    1            4           2401
                    AA       2015      1    1            4              9
                    AA       2015      1    1            4            201
                    AA       2015      1    1            4           1529

                            TAIL_NUMBER ORIGIN_AIRPORT  SCHEDULED_DEPARTURE  \
DESTINATION_AIRPORT AIRLINE
LAX                 AA           N3KYAA            BNA                  610
                    AA           N858AA            DFW                  655
                    AA           N792AA            JFK                  700
                    AA           N3LJAA            BOS                  700
                    AA           N5DHAA            MCO                  700

                             DEPARTURE_TIME  DEPARTURE_DELAY  ...  \
DESTINATION_AIRPORT AIRLINE                                   ...
LAX                 AA                607.0             -3.0  ...
                    AA                  NaN              NaN  ...
                    AA                649.0            -11.0  ...
                    AA                653.0             -7.0  ...
                    AA                658.0             -2.0  ...

                             ELAPSED_TIME  AIR_TIME  DISTANCE  WHEELS_ON  \
DESTINATION_AIRPORT AIRLINE
LAX                 AA              280.0     255.0      1797      832.0
                    AA                NaN       NaN      1235        NaN
                    AA              397.0     368.0      2475     1019.0
                    AA              412.0     390.0      2611     1039.0
                    AA              328.0     306.0      2218      919.0

                             TAXI_IN  SCHEDULED_ARRIVAL  ARRIVAL_TIME  \
DESTINATION_AIRPORT AIRLINE
LAX                 AA          15.0                855         847.0
                    AA           NaN                820           NaN
                    AA           7.0               1020        1026.0
                    AA           6.0               1035        1045.0
                    AA           7.0                935         926.0

                             ARRIVAL_DELAY  DIVERTED  CANCELLED
DESTINATION_AIRPORT AIRLINE
LAX                 AA                -8.0         0          0
                    AA                 NaN         0          1
                    AA                 6.0         0          0
                    AA                10.0         0          0
                    AA                -9.0         0          0

[5 rows x 23 columns]